<!DOCTYPE html>
<html>
<head>
    <title><%= title_page %></title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1><%= wiki.wiki_file_name %></h1>
    <main>
        <%- wiki.converted %>
    </main>
    <section>
        <button onclick="btn_edit()">Edit</button>
        <div id="editor" class="d-none">
            <form method="POST">
                <br>
                <input type="submit" value="Submit">
                <textarea name="editor"><%= wiki.origin %></textarea>
                <input type="submit" value="Submit">
              </form>
        </div>
    </section>
    <section>
        <hr>
        <section>
            <h1>Folders</h1>
            <div>
                <% const urls = wiki.active_path.split("/"); %>
                <% for (let i = 0; i < urls.length; i++) { %>
                    <a href="?path=<%= urls.slice(0, i).join('/') + '/' + urls[i] %>"><%= urls[i] %>/</a>
                <% } %>
            </div>
        <ol>
            <% wiki.folders.forEach(e => { %>
                <li><a href="?path=<%= wiki.active_path + '/' + e %>"><%= e %></a></li>
            <% }) %>
        </ol>
        </section>
        <section>
            <h1>Files</h1>
            <ol>
                <% wiki.files.forEach(e => { %>
                    <li><a href="?path=<%= wiki.active_path %>&wiki=<%= e %>"><%= e %></a></li>
                <% }) %>
            </ol>
        </section>
    </section>

    <script src="/static/js/scripts.js"></script>
</body>
</html>